[[local|localrc]]
LOGFILE=/opt/stack/logs/stack.sh.log
SCREEN_LOGDIR=~/screen_log/
LOGDAYS=1

ADMIN_PASSWORD=admin
MYSQL_PASSWORD=mysql
RABBIT_PASSWORD=rabbit
SERVICE_PASSWORD=admin
SERVICE_TOKEN=service

HOST_NAME=$(hostname)
SERVICE_HOST_NAME=${HOST_NAME}
SERVICE_HOST=$HOST_NAME

MYSQL_HOST=$SERVICE_HOST
RABBIT_HOST=$SERVICE_HOST
GLANCE_HOSTPORT=$SERVICE_HOST:9292
KEYSTONE_AUTH_HOST=$SERVICE_HOST
KEYSTONE_SERVICE_HOST=$SERVICE_HOST

VNCSERVER_PROXYCLIENT_ADDRESS=$SERVICE_HOST
VNCSERVER_LISTEN=0.0.0.0

Q_PLUGIN=ml2
Q_ML2_TENANT_NETWORK_TYPE=vlan
Q_ML2_PLUGIN_TYPE_DRIVERS=vlan
ENABLE_TENANT_VLANS=True
PHYSICAL_NETWORK=default

DISK_DRIVER=localdisk
VOL_GRP_NAME=devstackvg

# Enable plugins
enable_plugin ceilometer https://git.openstack.org/openstack/ceilometer.git
enable_plugin nova-powervm https://git.openstack.org/openstack/nova-powervm.git
enable_plugin networking-powervm https://git.openstack.org/openstack/networking-powervm.git
enable_plugin ceilometer-powervm https://git.openstack.org/openstack/ceilometer-powervm.git
